* { box-sizing: border-box; }

.body, div, main, button {
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: black !important;
}

.header-h {
    font-size: 1.2rem;
    color: white;
    margin-top: 1.65rem;
    margin-left: .5rem;
}

header {
    white-space: nowrap;
    flex-direction: row;
    height: 2.5rem;
}

a, a:visited, a:hover {
    text-decoration: none;
    color: white;
}

.profile-pic {
    width: 55px;
    margin-left: 18rem;
    margin-top: -5rem;
    display: inline-block;
    left: 20px; 
    top: 95px; 
    position: absolute;
}


/* LOGIN PAGE */
.login-div {
    margin-top: 8rem;
    text-align: center; 
    color: white; 
    font-size: 1.25rem;
}

.login-form {
    text-align: left;
    margin-left: 1rem;
    margin-top: 2.5rem;
}

label {
    padding-right: 2rem;
    font-size: 1rem;
}

#email, #password {
    width: 20.5rem;
    padding: .75rem;
    margin-top: 1rem; 
    margin-bottom: .5rem;
    border-radius: 12px;
    border-color: black;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
}

.login-btn {
    width: 8rem;
    padding: .5rem;
    margin-top: 3rem;
    margin-left: 28%;
    background-color: white;
    color: black;
    font-size: 1rem;
    border-radius: 12px;
    border-color: black;
}

.login-error {
    font-size: .8rem;
    color: red;
}

.email-div {
    margin-bottom: 1rem;
}


/* PROFILE PAGE */
.profile-posts {
    color: white;
    margin-left: 1rem;
    margin-top: 1.5rem;
}


/* PROFILE PAGE - Sub components start */
/* UserInfo Styles */
.user-info {
    text-align: center;
    color: white; 
    margin: 2rem auto; /* Adjust as needed for layout */
}

.profile-picture {
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust to maintain aspect ratio */
    border-radius: 50%; /* Make the image round */
    object-fit: cover; /* If you want to make sure the image covers the area without stretching */
    margin-bottom: 1rem;
}

.username {
    color: white;
    font-size: 1.5rem; /* Adjust as needed */
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.bio {
    font-size: 1rem; /* Adjust as needed */
    margin-bottom: 1rem;
    color: white
}

.edit-profile-button {
    background-color: #E94560; /* Your brand color for the button */
    border: none;
    color: white;
    padding: 0.5rem 1rem; /* Adjust as needed */
    border-radius: 20px; /* Rounded corners for the button */
    font-size: 1rem;
}

/* TopicsOfInterest Styles */
.topics-of-interest {
    display: flex;
    justify-content: center; /* Align buttons in the center */
    flex-wrap: wrap; /* Allow wrap if too many topics */
    margin: 1rem 0;
}

.topic-button {
    background-color: #343a40; /* Bootstrap's secondary button color */
    color: white;
    margin: 0.25rem;
    border-radius: 20px; /* Rounded corners for the topic buttons */
    font-size: 0.9rem;
    padding: 0.5rem 1rem; /* Adjust as needed */
}

/* CaredByMe Styles */
.cared-by-me {
    color: white;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 10px; /* Rounded corners */
}

.cared-items-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Adjust the size as needed */
    gap: 10px; /* Space between items */
}

.cared-item {
    background: white;
    border-radius: 8px; /* Rounded corners for each item */
    overflow: hidden; /* Ensures content fits within the borders */
    cursor: pointer; /* Indicates the item is clickable */
    transition: transform 0.3s ease; /* Smooth transform effect on hover */
}

.cared-item:hover {
    transform: scale(1.05); /* Slightly enlarge the item on hover */
}

.cared-item img {
    width: 100%; /* Ensure the image covers the item width */
    display: block;
}

.post-info {
    padding: 0.5rem; /* Padding inside the item */
}

.post-title {
    font-weight: bold; /* Bold title */
}

.post-date {
    font-size: 0.8rem; /* Smaller text for the date */
}

/* PROFILE PAGE - Sub components end */


/* HOME PAGE */
.home-card {
    background-color: white;
    color: black;
    margin-left: 1rem;
    border-radius: .5rem;
    margin-top: 3rem;
}

.cards-text {
    padding: .75rem;
}

.card-title {
    font-size: 1.2rem;
    font-weight: 600;
}

.card-sub, .card-desc {
    font-size: .8rem;
}

.dc-btn {
    text-align: center;
    font-size: 1rem;
    padding: .7rem;
    width: 6.5rem;
    color: white;
    background-color: #5C5C5C;
    border: none;
    border-radius: .25rem;
    margin-left: 4.675rem;
}

.c-btn {
    text-align: center;
    font-size: 1rem;
    padding: .7rem;
    width: 6.5rem;
    color: white;
    background-color: #E94560;
    border: none;
    border-radius: .25rem;
    margin-left: 0.5rem;
    margin-top: .15rem;
    /* position: fixed; */
}

.back-icon {
    width: 35px;
    margin-top: 2.5rem;
    margin-left: .75rem;
}

.post-card {
    background-color: white;
    color: black;
    margin-left: .65rem;
    border-radius: .5rem;
    margin-top: 1.5rem;
}

.card-img {
    width: 21rem;
    margin-left: -.75rem;
    margin-top: -.75rem;
}

.home-padding {
    padding-bottom: 5rem;
}

