* { box-sizing: border-box; }

.body, div, main, button {
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: black !important;
}

.header-h {
    font-size: 1.2rem;
    color: white;
    margin-top: 1.8rem;
    margin-left: .5rem;
}

nav {
    position: fixed;
    margin-top: -.55rem;
    background-color: black;
    height: 85px;
    width: 100%;
}

header {
    white-space: nowrap;
    flex-direction: row;
    height: 2.5rem;
}

a, a:visited, a:hover {
    text-decoration: none;
    color: white;
}

.profile-pic {
    width: 55px;
    margin-left: 18rem;
    margin-top: -5rem;
    display: inline-block;
    left: 20px; 
    top: 95px; 
    position: absolute;
}


/* LOGIN PAGE */
.login-div {
    margin-top: 8rem;
    text-align: center; 
    color: white; 
    font-size: 1.25rem;
}

.login-form {
    text-align: left;
    margin-left: 1rem;
    margin-top: 2.5rem;
}

label {
    padding-right: 2rem;
    font-size: 1rem;
}

#email, #password {
    width: 20.5rem;
    padding: .75rem;
    margin-top: 1rem; 
    margin-bottom: .5rem;
    border-radius: 12px;
    border-color: black;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
}

.login-btn {
    width: 8rem;
    padding: .5rem;
    margin-top: 3rem;
    margin-left: 28%;
    background-color: white;
    color: black;
    font-size: 1rem;
    border-radius: 12px;
    border-color: black;
}

.login-error {
    font-size: .8rem;
    color: red;
}

.email-div {
    margin-bottom: 1rem;
}


/* PROFILE PAGE - Sub components start */
/* UserInfo Styles */
.user-info {
    text-align: center;
    color: white; 
    margin: 2rem auto; 
}

.profile-picture {
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    object-fit: cover; /* If you want to make sure the image covers the area without stretching */
    margin-bottom: 1rem;
}

.username {
    color: white;
    font-size: 1.5rem; 
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-align: center;
    margin-top: 4rem;
}

.bio {
    font-size: .9rem; 
    color: white;
    text-align: center;
    margin-bottom: .5rem;
    margin-top: 0.75rem;
}

.socials {
    font-size: .9rem; 
    color: white;
    margin-bottom: .5rem;
    margin-top: -1.55rem;
    margin-left: 10.2rem;
}

.social-link {
    margin-left: 8.2rem;
    width: 25px;
}

.edit-profile-button {
    background-color: #5C5C5C;
    border: none;
    color: white;
    padding: .5rem .75rem; 
    border-radius: 15px; 
    font-size: .75rem;
    margin-left: 1rem;
}

/* TopicsOfInterest Styles */
.topics-of-interest {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap; 
    margin: 1rem 0;
}

.topic-button {
    background-color: #343a40; 
    color: white;
    margin: 0.25rem;
    border-radius: 20px; 
    font-size: 0.9rem;
    padding: 0.5rem 1rem; 
}

/* CaredByMe Styles */
.cared-by-me {
    color: white;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 10px; 
}

.cared-items-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
    gap: 10px; 
}

.cared-item {
    background: white;
    border-radius: 8px; 
    overflow: hidden; 
    cursor: pointer; /* Indicates the item is clickable */
    transition: transform 0.3s ease; /* Smooth transform effect on hover */
}

.cared-item:hover {
    transform: scale(1.05); /* Slightly enlarge the item on hover */
}

.cared-item img {
    width: 100%; 
    display: block;
}

.post-info {
    padding: 0.5rem; 
}

.post-title {
    font-weight: bold; 
}

.post-date {
    font-size: 0.8rem; 
}

/* PROFILE PAGE - Cared/Liked Posts subsection in red */
/* Modal and Cared Posts Grid */
.modal-lg .modal-content {
    background-color: black; 
    color: white;
}

.modal-btn {
    margin-left: 7.45rem;
    background-color: #E94560;
    padding: .75rem;
    border: 1px solid black;
    border-radius: .25rem;
    color: white;
    margin-top: 1rem;
}

.prof-img {
    width: 100px;
    margin-left: 9rem;
    margin-top: 2.5rem;
    margin-bottom: -2.75rem;
}

.cared-by-me-btn {
    text-align: center;
}

.cared-posts-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    margin-top: 1rem;
}

.cared-post-card {
    background-color: white; 
    color: black;
    border: none;
    border-radius: 10px;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 2.75rem;
    width: 18rem;
    height: 16rem;
}

.cared-post-card img {
    object-fit: cover;
    height: 200px; 
    width: 100%;
}

.cared-post-card .card-body {
    padding: 0.75rem;
}

.cared-post-card .card-title {
    font-size: 1rem; 
    margin-bottom: 0.5rem;
}

.cared-post-card .card-text {
    font-size: 0.8rem; 
}

.cared-post-card .card-footer {
    background-color: transparent;
    border-top: none;
    padding: 0.5rem 0.75rem;
}

.cared-post-card .text-muted {
    font-size: 0.7rem; 
    color: #b3b3b3;
}

.red-background {
    background-color: #ff0000; 
}

.undo-btn {
    text-align: center;
    font-size: 1rem;
    padding: .7rem;
    width: 6.5rem;
    color: white;
    background-color: #5C5C5C;
    border: none;
    border-radius: .25rem;
    margin-left: 8.65rem;
    margin-top: -.75rem;
}


/* HOME PAGE */
.home-card {
    background-color: white;
    color: black;
    margin-left: 1.215rem;
    border-radius: .5rem;
    margin-top: 3rem;
}

.cards-text {
    padding: .75rem;
}

.card-title {
    font-size: 1.2rem;
    font-weight: 600;
}

.card-sub, .card-desc {
    font-size: .8rem;
}

.dc-btn {
    text-align: center;
    font-size: 1rem;
    padding: .7rem;
    width: 6.5rem;
    color: white;
    background-color: #5C5C5C;
    border: none;
    border-radius: .25rem;
    margin-left: 4.8rem;
}

.c-btn {
    text-align: center;
    font-size: 1rem;
    padding: .7rem;
    width: 6.5rem;
    color: white;
    background-color: #E94560;
    border: none;
    border-radius: .25rem;
    margin-left: 0.5rem;
    margin-top: .15rem;
    /* position: fixed; */
}

.back-icon {
    width: 35px;
    margin-top: 2.5rem;
    margin-left: .75rem;
}

.post-card {
    background-color: white;
    color: black;
    margin-left: .65rem;
    border-radius: .5rem;
    margin-top: 1.5rem;
}

.card-img {
    width: 21rem;
    margin-left: -.75rem;
    margin-top: -.75rem;
}

.home-padding {
    padding-bottom: 5rem;
}

.three-card-img {
    width: 21rem;
    height: 11.5rem;
    margin-left: -.75rem;
    margin-top: -.75rem;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

.third-card-img {
    width: 21rem;
    height: 12rem;
    margin-left: -.75rem;
    margin-top: -.75rem;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

.text-cent {
    text-align: center;
}

.cared-by-num {
    font-size: 1rem;
    font-weight: 600;
}

.comment-card {
    background-color: black;
    color: white;
    margin-left: .65rem;
    border-radius: .5rem;
    margin-top: 1.5rem;
    border: 1.5px solid white;
}

.comments-card {
    background-color: black;
    color: white;
    margin-left: 0rem;
    border-radius: .5rem;
    margin-top: 1.5rem;
    border: 1px solid white;
}

.comment-user {
    font-size: 1.1rem;
    color: white;
    font-weight: 500;
    margin-left: 1rem;
    margin-top: .6rem;
}

.comment-desc {
    font-size: .8rem;
    color: white;
    font-weight: 400;
    margin-left: 1.2rem;
    margin-top: .4rem;
}

.write-comment {
    background-color: white;
    color: black;
    margin-left: 0rem;
    border-radius: .5rem;
    margin-top: 1.5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-left: 1rem;
    border: 1px solid white;
}

.comt {
    font-weight: 400;
    font-size: 1rem;
}

.reply {
    margin-left: 1.2rem;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    padding-top: .25rem;
    margin-bottom: .75rem;
}