* { box-sizing: border-box; }

.body, div, main, button {
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: black !important;
}

.header-h {
    font-size: 1.2rem;
    color: white;
    margin-top: 1.65rem;
    margin-left: .5rem;
}

header {
    white-space: nowrap;
    flex-direction: row;
    height: 2.5rem;
}

a, a:visited, a:hover {
    text-decoration: none;
    color: white;
}

.profile-pic {
    width: 55px;
    margin-left: 18rem;
    margin-top: -5rem;
    display: inline-block;
    left: 20px; 
    top: 95px; 
    position: absolute;
}


/* LOGIN PAGE */
.login-div {
    margin-top: 8rem;
    text-align: center; 
    color: white; 
    font-size: 1.25rem;
}

.login-form {
    text-align: left;
    margin-left: 1rem;
    margin-top: 2.5rem;
}

label {
    padding-right: 2rem;
    font-size: 1rem;
}

#email, #password {
    width: 20.5rem;
    padding: .75rem;
    margin-top: 1rem; 
    margin-bottom: .5rem;
    border-radius: 12px;
    border-color: black;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
}

.login-btn {
    width: 8rem;
    padding: .5rem;
    margin-top: 3rem;
    margin-left: 28%;
    background-color: white;
    color: black;
    font-size: 1rem;
    border-radius: 12px;
    border-color: black;
}

.login-error {
    font-size: .8rem;
    color: red;
}

.email-div {
    margin-bottom: 1rem;
}


/* PROFILE PAGE */
.profile-posts {
    color: white;
    margin-left: 1rem;
    margin-top: 1.5rem;
}


/* HOME PAGE */
.home-card {
    background-color: white;
    color: black;
    margin-left: 1rem;
    border-radius: .5rem;
    margin-top: 3rem;
}

.cards-text {
    padding: .75rem;
}

.card-title {
    font-size: 1.2rem;
    font-weight: 600;
}

.card-sub, .card-desc {
    font-size: .8rem;
}

.dc-btn {
    text-align: center;
    font-size: 1rem;
    padding: .7rem;
    width: 6.5rem;
    color: white;
    background-color: #5C5C5C;
    border: none;
    border-radius: .25rem;
    margin-left: 4.675rem;
}

.c-btn {
    text-align: center;
    font-size: 1rem;
    padding: .7rem;
    width: 6.5rem;
    color: white;
    background-color: #E94560;
    border: none;
    border-radius: .25rem;
    margin-left: 0.5rem;
    margin-top: .15rem;
    /* position: fixed; */
}

.back-icon {
    width: 35px;
    margin-top: 2.5rem;
    margin-left: .75rem;
}

.post-card {
    background-color: white;
    color: black;
    margin-left: .65rem;
    border-radius: .5rem;
    margin-top: 1.5rem;
}

.card-img {
    width: 21rem;
    margin-left: -.75rem;
    margin-top: -.75rem;
}

.home-padding {
    padding-bottom: 5rem;
}